
@media screen and (max-width:1199px){

	.travel-budget h3 {font-size: 15px;}
	.price_filter {margin-top: 5px;}
	.travel-select-icon select, .travel-check-icon input {font-size: 12px;}
	.travel-select-icon:after { padding: 10px 3px;}
	.single-tab-select-box h2 {font-size: 15px;}

}


@media screen and (max-width:991px){

	.main-menu .nav li {padding: 20px 5px 0px;}
	.navbar-collapse {padding-right: 40px;padding-left: 0px;}
	.main-menu .nav li a {font-size:13px;padding: 11px 1px 29px;}
	.book-btn {width: 100px;font-size: 13px;}

}


@media screen and (max-width:767px){
	#sticky-wrapper{background: rgba(77,78,84,1);}
	.sticky-wrapper .navbar-collapse.collapse.in{background: rgba(77,78,84,1);width: 112%;margin-left: -14px;padding-left: 27px;}
	.logo {float: left;}
	.main-menu .navbar-toggle {float: right;margin: 17px 0;}
	.navbar-collapse {padding-right: 15px;padding-left: 15px;}
	.main-menu .nav li a {font-size: 14px;padding: 0px 1px 10px;display: inline-block;}
	.sticky-wrapper.is-sticky .main-menu .nav a:before {bottom: 0px;}


	.single-service-box {flex-direction: column;height: auto;}
	.service-content {margin: 0 auto; margin-top: 30px;}

	.single-package-item {max-width: 450px;margin: 0 auto;margin-bottom: 30px;}

	.single-special-offer {margin-bottom: 30px;}

	.home1-testm-single {max-width: 345px;margin: 0 auto;}


}/*max-width:767px*/



@media screen and (max-width: 660px){

	.home1-testm-single {max-width: 350px;margin: 0 auto;}
	.main-menu .nav li a {font-size: 14px;}

}



@media screen and (max-width: 640px){
	
	.desc-tabs .nav-tabs>li>a { padding: 17px 10px 17px 10px;}

	

}



@media screen and (max-width: 480px){

	.about-us h2 {font-size: 30px;}

	.time-after:after{display: none;}

	.single-package-item {max-width: 350px;margin: 0 auto;margin-bottom: 30px;}

	.single-special-shape-txt {left: 30px;}

}/*max-width:480px*/



@media screen and (max-width: 440px){
	.desc-tabs .nav-tabs>li>a,.desc-tabs .nav-tabs>li.active>a { padding: 17px 10px 17px 10px;font-size:12px;}
	.nav-tabs {border-bottom: 0;}

	.single-trip-circle:nth-child(2){margin-left: 0px;}
	.trip-circle {flex-direction: column;}
	.about-view.travel-btn {width: 150px;}
	

	.custom-input-group .subscribe-btn {float: left;top: 76px;}
	.custom-input-group .form-control {padding-right: 0px;font-size: 13px;}


}/*max-width:400px*/

